/* Base font */
body {
  font-family: 'Noto Sans', sans-serif;
}

/* Footer icons */
.footer .icon-link {
  font-size: 25px;
  color: #000;
}

/* Link blocks spacing */
.link-block a {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Small-caps variant for .dnerf */
.dnerf {
  font-variant: small-caps;
}

/* Teaser section */
.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}
.teaser {
  font-family: 'Google Sans', sans-serif;
}

/* Publication header fonts */
.publication-title {
  font-family: 'Google Sans', sans-serif;
}
.publication-authors {
  font-family: 'Google Sans', sans-serif;
}
.publication-venue {
  color: #555;
  width: fit-content;
  font-weight: bold;
}
.publication-awards {
  color: #ff3860;
  width: fit-content;
  font-weight: bolder;
}
.publication-authors a {
  color: hsl(204, 86%, 53%) !important;
}
.publication-authors a:hover {
  text-decoration: underline;
}
.author-block {
  display: inline-block;
}

/* Publication video embed */
.publication-video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  border-radius: 10px !important;
}
.publication-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Carousel styling */
.results-carousel {
  overflow: hidden;
}
.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  padding: 20px;
  font-size: 0;
}
.results-carousel video {
  margin: 0;
}
.slider-pagination .slider-page {
  background: #000;
}
.eql-cntrb { 
  font-size: smaller;
}

/* Override Bulma hero fonts for your header */
.hero .title.is-1 {
  font-family: 'Montserrat', sans-serif !important;
  color: #044e78 !important;
}
.hero .subtitle.is-5,
.hero .subtitle.is-6 {
  font-family: 'Merriweather', serif !important;
  color: #1d2023 !important;
}


/* Container */
.pagination-dots{
  display:flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap:8px;
  margin: 1rem auto;     /* Center and add margin top/bottom */
  padding: 10px 0;       /* Add some padding */
}

/* Base dot */
.pagination-dots .dot{
  width:10px;
  height:10px;
  border-radius:50%;
  background:#cfcfcf;           /* inactive colour */
  transition:all .25s;
}

/* Active (current) dot */
.pagination-dots .dot.active{
  background:#4141427a;
  outline:2px solid #fdfdfd4d;  /* subtle ring */
  transform:scale(1.8);
  
}

.container h2.title.is-3 {
  font-family: 'Montserrat', sans-serif !important; /* Same as your hero */
  font-weight: 600;
}


